<?xml version="1.0" encoding="UTF-8"?>
<we-app
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:shemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	
	<display-name>SpringCRUD</display-name>
	<servlet>
		<servelt-name>spring</servelt-name>
		<servelt-class>org.springframework.web.servlet.DispatcherServlet</servelt-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servelt-name>spring</servelt-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</we-app>